body {
    background-image: url('./images/forest_road.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

h1 {
  color: #E3F0DC;
}

.outline{
  /* Add so that the background color is #f2f9ff, should stop when text is finished */
  /*text-shadow: -1px 0 #f2f9ff, 0 1px #f2f9ff, 1px 0 #f2f9ff, 0 -1px #f2f9ff; */
  /* text-decoration-color: #f2f9ff; */
  background-color: #ffffff;
  position: relative;
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #777262;
  border: 1px solid #92B181;
  color: #000000;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 3px;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.middle{
  text-align: center;
}

